# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE / Editor settings
.vscode/
.idea/
*.swp

# Databases
*.db
*.sqlite3

# Logs & temp files
*.log
*.pot
*.tmp

# Flask specific
instance/
*.pyc

# Byte-compiled / optimized / DLL files
*.dll

# macOS & Windows system files
.DS_Store
Thumbs.db

